.nav-container
    position: sticky
    top: 0px
    z-index: 1

.main-nav
    width: 100%
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    position: absolute
    padding-top: 20px

.main-nav:after
    content: ''
    background-image: url("/img/white-menu-icon.png")
    width: 40px
    height: 40px
    position: absolute
    right: 20px
    top: 20px
    background-size: contain
    background-repeat: no-repeat
    background-position: center

.main-nav > *
    display: none

.main-nav--expanded
        width: 100%
        background-color: #fff
        display: flex
        flex-flow: column wrap
        position: absolute
        padding-top: 20px
        justify-content: space-between
        align-content: center

@keyframes underline
    0%
        border-right: 2px solid rgba(255, 255, 255, 0.5)
    33%
        border-top: 2px solid rgba(255, 255, 255, 0.4)
    66%
        border-left: 2px solid rgba(255, 255, 255, 0.6)
    100%
        border-bottom: 4px solid rgba(255, 255, 255, 0.9)

@keyframes underline-black
    0%
        border-right: 2px solid rgba(0, 0, 0, 0.5)
    33%
        border-top: 2px solid rgba(0, 0, 0, 0.4)
    66%
        border-left: 2px solid rgba(0, 0, 0, 0.6)
    100%
        border-bottom: 5px solid rgba(0, 0, 0, 0.9)

@keyframes main-menu-scroll
    0%
        transform: translate(0%, -100%)
    100%
        transform: translate(0%, 0%)

@keyframes main-menu-swoop
    0%
        transform: translate(-100%, 0%)
    100%
        transform: translate(0%, 0%)

@media only screen and (min-width: 768px)
    .main-nav > *
        display: block

    .main-nav:after
        display: none

    .main-nav
        width: 100%
        display: flex
        flex-flow: row nowrap
        justify-content: space-evenly
        align-items: center
        padding-top: 10px 0px

    .icon-container
        display: inline-flex
        flex-flow: row nowrap

    .icon-container > a
        margin-right: 15px

    .icon
        width: 40px
        justify-self: flex-start

    .link-container
        display: inline-flex
        flex-flow: row nowrap
        justify-self: flex-end
        justify-content: space-between

    .main-nav__link
        font-family: $font-stack-secondary
        cursor: pointer
        color: white
        padding: 0px 20px
        font-size: 1.4rem
        margin: 0px 10px

    .main-nav-scroll
        background-color: #fff
        padding: 0
        transition: background 0.5s linear
        animation: main-menu-scroll 0.4s linear 0s 1
        outline: 3px solid rgba(0, 0, 0, 0.1)

    .main-nav-scroll :last-child 
        margin-right: 0px

    .main-nav-scroll .main-nav__link
        color: black
        border: 2px solid transparent
        border-bottom: 5px solid transparent
        padding: 20px 30px
        margin: 0

    .main-nav-scroll .main-nav__link:hover
        animation: underline-black 0.5s linear 0s 1
        transition: border 1s linear 0.6s
        transition: border-radius 0.5s linear 0s
        border-bottom: 5px solid black
        border-radius: 0px

    .main-nav__link:hover
        animation: underline 0.5s linear 0s 1
        transition: border 1s linear 0.6s
        transition: border-radius 0.5s linear 0s
        border-bottom: 4px solid rgba(255, 255, 255, 0.9)
        border-radius: 0px

    .--swoop
        animation: main-menu-swoop 0.6s ease-in-out 0s 1

@media only screen and (min-width: 1024px)
    .main-nav
        justify-content: space-between

    .icon-container
        justify-self: flex-start

    .icon-container :first-child
        margin-left: 20px

    .icon-container > a
        margin-right: 0px

    .icon
        width: 45px

    .link-container
        display: inline-flex
        flex-flow: row nowrap
        justify-self: flex-end
        margin-right: 10px

    .main-nav__link
        font-family: $font-stack-secondary
        transition: background-color 0.3s ease-in-out
        cursor: pointer
        color: white
        font-size: 1.5rem
        padding: 20px 10px
        margin: 0px 20px
        border: 2px solid transparent
        border-bottom: 4px solid transparent
        border-radius: 50px

    .main-nav-scroll
        background-color: #fff
        padding: 0
        transition: background 0.5s linear
        animation: main-menu-scroll 0.4s linear 0s 1
        outline: 3px solid rgba(0, 0, 0, 0.1)

    .main-nav-scroll :last-child 
        margin-right: 0px

    .main-nav-scroll .main-nav__link
        color: black
        border: 2px solid transparent
        border-bottom: 5px solid transparent
        padding: 20px 30px
        margin: 0

    .main-nav-scroll .main-nav__link:hover
        animation: underline-black 0.5s linear 0s 1
        transition: border 1s linear 0.6s
        transition: border-radius 0.5s linear 0s
        border-bottom: 5px solid black
        border-radius: 0px

    .main-nav__link:hover
        animation: underline 0.5s linear 0s 1
        transition: border 1s linear 0.6s
        transition: border-radius 0.5s linear 0s
        border-bottom: 4px solid rgba(255, 255, 255, 0.9)
        border-radius: 0px

    .--swoop
        animation: main-menu-swoop 0.6s ease-in-out 0s 1

@media only screen and (min-width: 1024px)
    .icon
        width: 50px

    .main-nav__link
        font-size: 1.8rem
        padding: 20px 25px
        margin: 0px 10px