.main-nav
    width: 100%
    display: flex
    flex-flow: row nowrap
    justify-content: flex-end
    position: sticky
    top: 40px
    right: 40px
    z-index: 1

.main-nav:last-child 
    border-right: none