.music-section
    width: 100%
    padding: 100px 60px
    display: flex
    flex-flow: row wrap
    align-items: center
    background-color: black
    color: white

.music__heading
    font-family: $font-stack-secondary
    font-size: 3rem
    font-weight: 600
    width: 60%
    text-align: center

.music__player
    width: 40%
