@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho&display=swap')
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap')

$font-stack-primary: 'Sawarabi Mincho', 'Times New Roman', serif
$font-stack-secondary: 'Open Sans', arial, sans-serif

body
  font-family: $font-stack-secondary