@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho&display=swap')
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap')

$font-stack-primary: 'Sawarabi Mincho', 'Times New Roman', serif
$font-stack-secondary: 'Open Sans', arial, sans-serif
$color-primary: #909090
$color-primary-hover: #c1c1c1
$color-primary-light: #171717

body
  font-family: $font-stack-secondary